<!doctype html>
<html ng-app="MyCSSModule">

  <head>
    <meta charset="utf-8">
    <style type="text/css">
      .error {
        background-color: red;
      }
      .warning {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <div ng-controller='HeaderController'>
      <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
      <button ng-click='showError()'>Simulate Error</button>
      <button ng-click='showWarning()'>Simulate Warning</button>
    </div>
  </body>
  <script type="text/javascript" src="../lib/angular-1.5.8/angular.min.js"></script>
  <script type="text/javascript">
    var myCSSModule = angular.module('MyCSSModule', []);
    myCSSModule.controller('HeaderController', ['$scope', 
      function($scope){
        $scope.isError = false;
        $scope.isWarning = false;

        $scope.showError = function(){
          $scope.messageText = "This is an error!";
          $scope.isError = true;
          $scope.isWarning = false;
        };

        $scope.showWarning = function(){
          $scope.messageText = "This is just a warning!";
          $scope.isError = false;
          $scope.isWarning = true;
        };
    }]);
  </script>
</html>